@model PreSemesterProject.Models.Opportunity

<h2>Edit Opportunity: @Model.OpportunityID</h2>
<div class="container">
    <form asp-action="Edit" method="post">
        <input asp-for="OpportunityID" value="@Model.OpportunityID" style="display: none">
        <div class="row">
            <div class="col-6">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" type="text" class="form-control" value="@Model.Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Location" class="form-label">Location</label>
                <input asp-for="Location" class="form-control" value="@Model.Location">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Date" class="form-label">Date & Time</label>
                <input asp-for="Date" type="datetime-local" class="form-control" value="@Model.Date">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label asp-for="Description" class="form-label">Descripion</label>
                <textarea asp-for="Description" class="form-control" value="@Model.Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="button-options" style="margin: 10px;">
            <button type="submit" asp-action="Edit" class="btn btn-outline-primary">Edit Opportunity</button> | 
            <button asp-action="Index" class="btn btn-outline-danger">Back</button>
        </div>
    </form>
</div>