@model List<PreSemesterProject.Models.Opportunity>

<div class="container">
    <h2>Opportunities</h2>
</div>

<section class="container">
    @if (Model.Count <= 0)
    {
        <div class="alert alert-info" role="alert">
           No opportunities found.
        </div>
    }
    <div class="nav-options-container">
        <div class="dropdown">
            <div class="nav-opportunity-option dropdown-toggle" id="opportunityFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-filter"></i> Change Opportunity Filter
            </div>
            <div class="dropdown-menu" aria-labelledby="opportunityFilter">
                <a asp-action="Index" class="dropdown-item">None</a>
                <a asp-action="Index" asp-route-filter="recent" class="dropdown-item">Most Recent (60 days)</a>
                <a asp-action="Index" asp-route-filter="location" class="dropdown-item">By Center</a>
            </div>
        </div>
        <div class="nav-opportunity-option">
            View Volunteer Opportunity
        </div>
    <a asp-action="Create" style="margin-left: auto; text-decoration: none;">
        <div class="nav-opportunity-option" style="margin-left: auto">
            <i class="fas fa-plus"></i> Add New Opportunity
        </div>
    </a>
    </div>
    <form asp-action="Index" method="get">
        <div class="input-group mb-0">
            <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentSearch"]" placeholder="Search Opportunities">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    @if (Model.Count > 0)
    {
<table class="opportunities-table">
    <colgroup>
        <col style="width:20%">
        <col style="width:30%">
        <col style="width:15%">
        <col style="width:20%">
        <col style="width:15%">
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Title</td>
            <td>@x.Description</td>
            <td>@x.Location</td>
            <td>@x.Date</td>
            <td>
                <div class="button-options">
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@x.OpportunityID"><span style="display: block">Edit</span></a>
                    <div>
                        <button class="btn btn-outline-danger dropdown-toggle" id="deleteDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete</button>
                        <div class="dropdown-menu" aria-labelledby="deleteDrop">
                            <div class="container-fluid">
                                <form method="post">
                                    <p>Are you sure?</p>
                                    <button type="submit" asp-action="Delete" asp-route-id="@x.OpportunityID" class="btn btn-outline-danger">Yes</button>
                                    <button type="button" class="btn btn-outline-primary">No</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
    }
</section>
